@use './base';

.sidebar {
    background-color: base.$color-primary;
    grid-row: 1 / -1;
    grid-column: sidebar-start / sidebar-end;

    display: flex;
    justify-content: center;

    @media only screen and (max-width: base.$bp-large) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: flex-end;
        align-items: center;
    }
}

.btn-nav {
    border: none;
    border-radius: 0;

    background-color: white;
    height: 2px;
    width: 4.5rem;
    margin-top: 4.5rem;

    &::before,
    &::after {
        background-color: white;
        height: 2px;
        width: 4.5rem;
        content: "";
        display: block;
    }

    &::before {
        transform: translateY(-1.5rem);
    }

    &::after {
        transform: translateY(1.3rem);
    }

    @media only screen and (max-width: base.$bp-large) {
        margin-top: 0;
        margin-right: 3rem;

        &::before {
            transform: translateY(-1.2rem);
        }
    
        &::after {
            transform: translateY(1rem);
        }
    }
}