@use './base';

%heading {
    font-family: base.$font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
}

.heading-2 {
    @extend %heading;
}

.heading-3 {
    @extend %heading;
}

.heading-4 {
    @extend %heading;

    font-size: 1.9rem;

    &--light {
        color: base.$color-grey-light-1;
    }

    &--dark {
        color: base.$color-grey-dark-1;
    }
}